@charset "utf-8";
/*==================================================
  基本スタイル
==================================================*/
/* 使用しないフォントは削除すること 削除し終えたらこのコメントも削除すること */
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,700&display=swap');
* {
	margin: 0;
	padding: 0;
}
body {
	background: #FFF;
	color: #333;
	font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 90%;
	text-align: center;
	-webkit-text-size-adjust: none;
}
p {
	text-align: justify;
	text-justify: inter-ideograph;
}
p.nm {
	margin-bottom: 0px !important;
}
h1, h2, h3, h4 {
	font-size: 100%;
}
hr {
	margin-bottom: 1em;
	border: 0px;
	border-bottom: 1px dashed #BBBBBB;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show;
}
th {
	font-weight: normal;
	text-align: left;
}
img {
	vertical-align: bottom;
	max-width: 100%;
	height: auto;
	-webkit-backface-visibility: hidden;
}
/*--------------------------------------------------
  リンク
--------------------------------------------------*/
a { text-decoration: none; }
a img { border: none; }
@media print, screen and (min-width:769px){
	a:active, a:hover {
		filter:alpha(opacity=60);
		-moz-opacity: 0.6;
		opacity: 0.6;
	}
}
/*--------------------------------------------------
  フォントサイズ
--------------------------------------------------*/
.b  { font-weight: bold; }		/* 太字 */
.fs { font-size: 85%; }				/* 小さい文字 */
.fm { font-size: 110%; }			/* 大きい文字 */
/*--------------------------------------------------
  配置
--------------------------------------------------*/
.cen { text-align: center; }	/* 中央寄せ */
.lft { text-align: left; }		/* 左寄せ */
.rit { text-align: right; }		/* 右寄せ */

.vtop { vertical-align: top; }		/* 上詰め */
.vbtm { vertical-align: bottom; }	/* 下詰め */

.ind { text-indent: -0.5em; }
/*--------------------------------------------------
  画像配置（文字を回り込ます）
--------------------------------------------------*/
.img_lft { float: left; margin-right: 20px; }
.img_rit { float: right; margin-left: 20px; }
/*--------------------------------------------------
  IME（フォームコントロール用）
--------------------------------------------------*/
/* 半角 */
.disabled {
	ime-mode: disabled;
	border: 1px solid #A5ACB2;
	padding: 2px;
}
/* 全角(切替可) */
.active {
	ime-mode: active;
	border: 1px solid #A5ACB2;
	padding: 2px;
}
/*--------------------------------------------------
  その他
--------------------------------------------------*/
/* フロート解除 */
.cb { clear: both; }
/* クリアフィックス */
.cf:after,
.cb:after,
.box:after,
.main:after {
	clear: both;
	display: block;
	overflow: hidden;
	height: 0px;
	content: "";
}
